*{
    margin:0;
    padding:0;
}
.nav-item{
    padding-left:20px;
}
.Home-section{
    background-color: white;
}
 .Home-section img{
  padding-top:40px;
  height:500px;
  width:700px;
  
}
.Home-section-heading{
    padding-top:150px;
    padding-left:100px;
   
}
.Home-section button{
    padding:15px;
    border:none;
    outline:none;
    margin-right:10px;
    border-radius:5%;
}
.Course-section-heading{
  text-align:center;
}
#Course-section{
    background-color: #fcf8ec;
    padding-bottom:70px;
}
@media (max-width:1028px){
    *{
        text-align:center;
    }
    .Course-section-heading{
        text-align:center;
        padding-top:4px;
        padding-left:4px;
      }
    .Home-section img{
      height:450px;
      width:530px;
    }
}

.card-img-top{
    height:300px;
    width:400px;
    object-fit: contain;
}

.container-fluid{
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    margin-top:40px;
}

#Resources-section{
    text-align:center;
    height:600px;
    width:100%;
    background-color: white;
}
#FAQ-section{
    text-align:center;
    height:600px;
    width:100%;
    background-color: #fcf8ec;
}
.card-text{
    text-align: center;
}
